@page "/"

<p>Hello World!</p>

<button @onclick="NavigateToKalkulacka">Go to Kalkulačka</button>

@code {
    [Inject] NavigationManager Navigation { get; set; } = default!;

    void NavigateToKalkulacka()
    {
        Navigation.NavigateTo("/kalkulacka");
    }
}
